<a href="https://colab.research.google.com/github/Dhayanshariff/MongoDB-Tasks/blob/main/Telephone_Directory/MongoDB_Telephone_Directory_CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# Import necessary modules.

import pymongo
!apt install mongodb > log
!service mongodb start
from pymongo import MongoClient
myClient = MongoClient()

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

In [12]:
# Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.
# Create a collection.

db = myClient.Mongo_CRUD_Task
Telephone_CRUD = db.Telephone_CRUD

In [15]:
# For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

Directory = [{'_id':1,'Name': 'Dhayan','Phone':'0435-2443172','Mobile': '9765432568','City':'Chennai'},
             {'_id':2,'Name': 'Shariff','Phone':'04362-2454672','Mobile': '9765412345','City':'Kumbakonam'},
             {'_id':3,'Name': 'Hiba','Phone':'04675-2443446','Mobile': '9999932568','City':'Perambakkam'},
             {'_id':4,'Name': 'Hifza','Phone':'0435-2467572','Mobile': '9345867299','City':'Chennai'},
             {'_id':5,'Name': 'Rayeesah','Phone':'04172-2478672','Mobile': '8825809543','City':'Ranipet'}]

In [16]:
# Insert the record into the collection.

Telephone_CRUD.insert_many(Directory)

In [18]:
# Make a query to find records you just created.

for i in Telephone_CRUD.find():
  print(i)

{'_id': 1, 'Name': 'Dhayan', 'Phone': '0435-2443172', 'Mobile': '9765432568', 'City': 'Chennai'}
{'_id': 2, 'Name': 'Shariff', 'Phone': '04362-2454672', 'Mobile': '9765412345', 'City': 'Kumbakonam'}
{'_id': 3, 'Name': 'Hiba', 'Phone': '04675-2443446', 'Mobile': '9999932568', 'City': 'Perambakkam'}
{'_id': 4, 'Name': 'Hifza', 'Phone': '0435-2467572', 'Mobile': '9345867299', 'City': 'Chennai'}
{'_id': 5, 'Name': 'Rayeesah', 'Phone': '04172-2478672', 'Mobile': '8825809543', 'City': 'Ranipet'}

In [21]:
# Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

Telephone_CRUD.update_one({'Name':'Hiba'},{'$set':{'Mobile':'9894681465'}})

In [22]:
for i in Telephone_CRUD.find():
  print(i)

{'_id': 1, 'Name': 'Dhayan', 'Phone': '0435-2443172', 'Mobile': '9765432568', 'City': 'Chennai'}
{'_id': 2, 'Name': 'Shariff', 'Phone': '04362-2454672', 'Mobile': '9765412345', 'City': 'Kumbakonam'}
{'_id': 3, 'Name': 'Hiba', 'Phone': '04675-2443446', 'Mobile': '9894681465', 'City': 'Perambakkam'}
{'_id': 4, 'Name': 'Hifza', 'Phone': '0435-2467572', 'Mobile': '9345867299', 'City': 'Chennai'}
{'_id': 5, 'Name': 'Rayeesah', 'Phone': '04172-2478672', 'Mobile': '8825809543', 'City': 'Ranipet'}

In [23]:
# Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

Telephone_CRUD.delete_one({'Phone':'0435-2467572'})

In [24]:
for i in Telephone_CRUD.find():
  print(i)

{'_id': 1, 'Name': 'Dhayan', 'Phone': '0435-2443172', 'Mobile': '9765432568', 'City': 'Chennai'}
{'_id': 2, 'Name': 'Shariff', 'Phone': '04362-2454672', 'Mobile': '9765412345', 'City': 'Kumbakonam'}
{'_id': 3, 'Name': 'Hiba', 'Phone': '04675-2443446', 'Mobile': '9894681465', 'City': 'Perambakkam'}
{'_id': 5, 'Name': 'Rayeesah', 'Phone': '04172-2478672', 'Mobile': '8825809543', 'City': 'Ranipet'}