<a href="https://colab.research.google.com/github/Dhayanshariff/MongoDB-Tasks/blob/main/Students%20Score%20Task/MongoDB_Students_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pymongo
!apt install mongodb > log
!service mongodb start
from pymongo import MongoClient
myClient = MongoClient()

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

In [2]:
Mongo_Tasks_new = myClient['Mongo_Tasks_new']
Students = Mongo_Tasks_new['Students']

In [8]:
import json
import pprint

In [5]:
with open('Student.json') as file:
  file_data = json.load(file)

In [6]:
Students.insert_many(file_data)

In [7]:
# 1) Find the student name who scored maximum scores in all (exam, quiz and homework)?

def Find_Topper(type):
  stage1 = {"$unwind": "$scores"}
  stage2 = {"$match" : {"scores.type" : type}}
  stage3 = {"$sort" :{"scores.score": -1}}
  stage4 = {"$limit" : 1}
  stage5 = {"$project" : {"_id" : 0,"name":1,"scores.score":1,"scores.type" : 1}}

  for i in Students.aggregate([stage1, stage2,stage3,stage4,stage5]):
    print(i)


Find_Topper("quiz")
Find_Topper("exam")
Find_Topper("homework")

{'name': 'Cody Strouth', 'scores': {'score': 99.80348240553108, 'type': 'quiz'}}
{'name': 'Margart Vitello', 'scores': {'score': 99.33685767140612, 'type': 'exam'}}
{'name': 'Whitley Fears', 'scores': {'score': 99.77237745070993, 'type': 'homework'}}

In [18]:
# 3) Find students who scored below pass mark and assigned them as fail, and above pass mark as pass in all the categories. 
# (If the student scores 40 or above in all types, then only they will be marked as pass. Else they will be marked as Fail)

for i in Students.find():
  if (i['scores'][0]['score']>=40 and i['scores'][1]['score']>=40 and i['scores'][2]['score']>=40):
    Students.update_one({'_id': i['_id']},{'$set': {'Result': 'Pass'}})
  else:
    Students.update_one({'_id': i['_id']},{'$set': {'Result': 'Fail'}})

for i in Students.find({},{'_id':1,'name':1,'Result':1}):
  print(i)

{'_id': 0, 'name': 'aimee Zank', 'Result': 'Fail'}
{'_id': 1, 'name': 'Aurelia Menendez', 'Result': 'Pass'}
{'_id': 2, 'name': 'Corliss Zuk', 'Result': 'Fail'}
{'_id': 3, 'name': 'Bao Ziglar', 'Result': 'Fail'}
{'_id': 4, 'name': 'Zachary Langlais', 'Result': 'Fail'}
{'_id': 5, 'name': 'Wilburn Spiess', 'Result': 'Fail'}
{'_id': 6, 'name': 'Jenette Flanders', 'Result': 'Fail'}
{'_id': 7, 'name': 'Salena Olmos', 'Result': 'Pass'}
{'_id': 8, 'name': 'Daphne Zheng', 'Result': 'Fail'}
{'_id': 9, 'name': 'Sanda Ryba', 'Result': 'Fail'}
{'_id': 10, 'name': 'Denisha Cast', 'Result': 'Pass'}
{'_id': 11, 'name': 'Marcus Blohm', 'Result': 'Pass'}
{'_id': 12, 'name': 'Quincy Danaher', 'Result': 'Pass'}
{'_id': 13, 'name': 'Jessika Dagenais', 'Result': 'Pass'}
{'_id': 14, 'name': 'Alix Sherrill', 'Result': 'Fail'}
{'_id': 15, 'name': 'Tambra Mercure', 'Result': 'Fail'}
{'_id': 16, 'name': 'Dodie Staller', 'Result': 'Fail'}
{'_id': 17, 'name': 'Fletcher Mcconnell', 'Result': 'Fail'}
{'_id': 18, 'name': 'Verdell Sowinski', 'Result': 'Pass'}
{'_id': 19, 'name': 'Gisela Levin', 'Result': 'Fail'}
{'_id': 20, 'name': 'Tressa Schwing', 'Result': 'Pass'}
{'_id': 21, 'name': 'Rosana Vales', 'Result': 'Fail'}
{'_id': 22, 'name': 'Margart Vitello', 'Result': 'Fail'}
{'_id': 23, 'name': 'Tamika Schildgen', 'Result': 'Pass'}
{'_id': 24, 'name': 'Jesusa Rickenbacker', 'Result': 'Fail'}
{'_id': 25, 'name': 'Rudolph Domingo', 'Result': 'Fail'}
{'_id': 26, 'name': 'Jonie Raby', 'Result': 'Fail'}
{'_id': 27, 'name': 'Edgar Sarkis', 'Result': 'Fail'}
{'_id': 28, 'name': 'Laureen Salomone', 'Result': 'Fail'}
{'_id': 29, 'name': 'Gwyneth Garling', 'Result': 'Fail'}
{'_id': 30, 'name': 'Kaila Deibler', 'Result': 'Fail'}
{'_id': 31, 'name': 'Tandra Meadows', 'Result': 'Fail'}
{'_id': 32, 'name': 'Gwen Honig', 'Result': 'Pass'}
{'_id': 33, 'name': 'Sadie Jernigan', 'Result': 'Fail'}
{'_id': 34, 'name': 'Carli Belvins', 'Result': 'Fail'}
{'_id': 35, 'name': 'Synthia Labelle', 'Result': 'Fail'}
{'_id': 36, 'name': 'Eugene Magdaleno', 'Result': 'Pass'}
{'_id': 37, 'name': 'Meagan Oakes', 'Result': 'Fail'}
{'_id': 38, 'name': 'Richelle Siemers', 'Result': 'Fail'}
{'_id': 39, 'name': 'Mariette Batdorf', 'Result': 'Fail'}
{'_id': 40, 'name': 'Rachell Aman', 'Result': 'Fail'}
{'_id': 41, 'name': 'Aleida Elsass', 'Result': 'Fail'}
{'_id': 42, 'name': 'Kayce Kenyon', 'Result': 'Fail'}
{'_id': 43, 'name': 'Ernestine Macfarland', 'Result': 'Fail'}
{'_id': 44, 'name': 'Houston Valenti', 'Result': 'Fail'}
{'_id': 45, 'name': 'Terica Brugger', 'Result': 'Fail'}
{'_id': 46, 'name': 'Lady Lefevers', 'Result': 'Fail'}
{'_id': 47, 'name': 'Kurtis Jiles', 'Result': 'Fail'}
{'_id': 48, 'name': 'Barbera Lippman', 'Result': 'Fail'}
{'_id': 49, 'name': 'Dinah Sauve', 'Result': 'Fail'}
{'_id': 50, 'name': 'Alica Pasley', 'Result': 'Fail'}
{'_id': 51, 'name': 'Elizabet Kleine', 'Result': 'Fail'}
{'_id': 52, 'name': 'Tawana Oberg', 'Result': 'Pass'}
{'_id': 53, 'name': 'Malisa Jeanes', 'Result': 'Fail'}
{'_id': 54, 'name': 'Joel Rueter', 'Result': 'Pass'}
{'_id': 55, 'name': 'Tresa Sinha', 'Result': 'Pass'}
{'_id': 56, 'name': 'Danika Loeffler', 'Result': 'Fail'}
{'_id': 57, 'name': 'Chad Rahe', 'Result': 'Fail'}
{'_id': 58, 'name': 'Joaquina Arbuckle', 'Result': 'Fail'}
{'_id': 59, 'name': 'Vinnie Auerbach', 'Result': 'Fail'}
{'_id': 60, 'name': 'Dusti Lemmond', 'Result': 'Fail'}
{'_id': 61, 'name': 'Grady Zemke', 'Result': 'Pass'}
{'_id': 62, 'name': 'Vina Matsunaga', 'Result': 'Fail'}
{'_id': 63, 'name': 'Rubie Winton', 'Result': 'Fail'}
{'_id': 64, 'name': 'Whitley Fears', 'Result': 'Pass'}
{'_id': 65, 'name': 'Gena Riccio', 'Result': 'Pass'}
{'_id': 66, 'name': 'Kim Xu', 'Result': 'Fail'}
{'_id': 67, 'name': 'Merissa Mann', 'Result': 'Pass'}
{'_id': 68, 'name': 'Jenise Mcguffie', 'Result': 'Pass'}
{'_id': 69, 'name': 'Cody Strouth', 'Result': 'Fail'}
{'_id': 70, 'name': 'Harriett Velarde', 'Result': 'Fail'}
{'_id': 71, 'name': 'Kam Senters', 'Result': 'Fail'}
{'_id': 72, 'name': 'Leonida Lafond', 'Result': 'Fail'}
{'_id': 73, 'name': 'Devorah Smartt', 'Result': 'Fail'}
{'_id': 74, 'name': 'Leola Lundin', 'Result': 'Fail'}
{'_id': 75, 'name': 'Tonia Surace', 'Result': 'Pass'}
{'_id': 76, 'name': 'Adrien Renda', 'Result': 'Fail'}
{'_id': 77, 'name': 'Efrain Claw', 'Result': 'Fail'}
{'_id': 78, 'name': 'Len Treiber', 'Result': 'Fail'}
{'_id': 79, 'name': 'Mariela Sherer', 'Result': 'Pass'}
{'_id': 80, 'name': 'Echo Pippins', 'Result': 'Fail'}
{'_id': 81, 'name': 'Linnie Weigel', 'Result': 'Fail'}
{'_id': 82, 'name': 'Santiago Dollins', 'Result': 'Fail'}
{'_id': 83, 'name': 'Tonisha Games', 'Result': 'Fail'}
{'_id': 84, 'name': 'Timothy Harrod', 'Result': 'Pass'}
{'_id': 85, 'name': 'Rae Kohout', 'Result': 'Pass'}
{'_id': 86, 'name': 'Brain Lachapelle', 'Result': 'Fail'}
{'_id': 87, 'name': 'Toshiko Sabella', 'Result': 'Fail'}
{'_id': 88, 'name': 'Keesha Papadopoulos', 'Result': 'Fail'}
{'_id': 89, 'name': 'Cassi Heal', 'Result': 'Fail'}
{'_id': 90, 'name': 'Osvaldo Hirt', 'Result': 'Pass'}
{'_id': 91, 'name': 'Ty Barbieri', 'Result': 'Fail'}
{'_id': 92, 'name': 'Ta Sikorski', 'Result': 'Fail'}
{'_id': 93, 'name': 'Lucinda Vanderburg', 'Result': 'Fail'}
{'_id': 94, 'name': 'Darby Wass', 'Result': 'Fail'}
{'_id': 95, 'name': 'Omar Bowdoin', 'Result': 'Fail'}
{'_id': 96, 'name': 'Milan Mcgavock', 'Result': 'Fail'}
{'_id': 97, 'name': 'Maren Scheider', 'Result': 'Pass'}
{'_id': 98, 'name': 'Carli Ector', 'Result': 'Pass'}
{'_id': 99, 'name': 'Jaclyn Morado', 'Result': 'Pass'}
{'_id': 100, 'name': 'Demarcus Audette', 'Result': 'Fail'}
{'_id': 101, 'name': 'Tania Hulett', 'Result': 'Fail'}
{'_id': 102, 'name': 'Mercedez Garduno', 'Result': 'Pass'}
{'_id': 103, 'name': 'Fleta Duplantis', 'Result': 'Fail'}
{'_id': 104, 'name': 'Brittny Warwick', 'Result': 'Pass'}
{'_id': 105, 'name': 'Shin Allbright', 'Result': 'Pass'}
{'_id': 106, 'name': 'Karry Petrarca', 'Result': 'Fail'}
{'_id': 107, 'name': 'Beckie Millington', 'Result': 'Fail'}
{'_id': 108, 'name': 'Mikaela Meidinger', 'Result': 'Pass'}
{'_id': 109, 'name': 'Flora Duell', 'Result': 'Pass'}
{'_id': 110, 'name': 'Nobuko Linzey', 'Result': 'Pass'}
{'_id': 111, 'name': 'Gennie Ratner', 'Result': 'Pass'}
{'_id': 112, 'name': 'Myrtle Wolfinger', 'Result': 'Fail'}
{'_id': 113, 'name': '', 'Result': 'Fail'}
{'_id': 114, 'name': 'aimee Zank', 'Result': 'Fail'}
{'_id': 115, 'name': 'Aurelia Menendez', 'Result': 'Fail'}
{'_id': 116, 'name': 'Corliss Zuk', 'Result': 'Pass'}
{'_id': 117, 'name': 'Bao Ziglar', 'Result': 'Fail'}
{'_id': 118, 'name': 'Zachary Langlais', 'Result': 'Pass'}
{'_id': 119, 'name': 'Wilburn Spiess', 'Result': 'Pass'}
{'_id': 120, 'name': 'Jenette Flanders', 'Result': 'Fail'}
{'_id': 121, 'name': 'Salena Olmos', 'Result': 'Fail'}
{'_id': 122, 'name': 'Daphne Zheng', 'Result': 'Fail'}
{'_id': 123, 'name': 'Sanda Ryba', 'Result': 'Fail'}
{'_id': 124, 'name': 'Denisha Cast', 'Result': 'Fail'}
{'_id': 125, 'name': 'Marcus Blohm', 'Result': 'Fail'}
{'_id': 126, 'name': 'Quincy Danaher', 'Result': 'Pass'}
{'_id': 127, 'name': 'Jessika Dagenais', 'Result': 'Pass'}
{'_id': 128, 'name': 'Alix Sherrill', 'Result': 'Fail'}
{'_id': 129, 'name': 'Tambra Mercure', 'Result': 'Pass'}
{'_id': 130, 'name': 'Dodie Staller', 'Result': 'Pass'}
{'_id': 131, 'name': 'Fletcher Mcconnell', 'Result': 'Fail'}
{'_id': 132, 'name': 'Verdell Sowinski', 'Result': 'Fail'}
{'_id': 133, 'name': 'Gisela Levin', 'Result': 'Fail'}
{'_id': 134, 'name': 'Tressa Schwing', 'Result': 'Fail'}
{'_id': 135, 'name': 'Rosana Vales', 'Result': 'Fail'}
{'_id': 136, 'name': 'Margart Vitello', 'Result': 'Fail'}
{'_id': 137, 'name': 'Tamika Schildgen', 'Result': 'Fail'}
{'_id': 138, 'name': 'Jesusa Rickenbacker', 'Result': 'Fail'}
{'_id': 139, 'name': 'Rudolph Domingo', 'Result': 'Fail'}
{'_id': 140, 'name': 'Jonie Raby', 'Result': 'Fail'}
{'_id': 141, 'name': 'Edgar Sarkis', 'Result': 'Pass'}
{'_id': 142, 'name': 'Laureen Salomone', 'Result': 'Fail'}
{'_id': 143, 'name': 'Gwyneth Garling', 'Result': 'Fail'}
{'_id': 144, 'name': 'Kaila Deibler', 'Result': 'Fail'}
{'_id': 145, 'name': 'Tandra Meadows', 'Result': 'Fail'}
{'_id': 146, 'name': 'Gwen Honig', 'Result': 'Fail'}
{'_id': 147, 'name': 'Sadie Jernigan', 'Result': 'Fail'}
{'_id': 148, 'name': 'Carli Belvins', 'Result': 'Fail'}
{'_id': 149, 'name': 'Synthia Labelle', 'Result': 'Fail'}
{'_id': 150, 'name': 'Eugene Magdaleno', 'Result': 'Fail'}
{'_id': 151, 'name': 'Meagan Oakes', 'Result': 'Fail'}
{'_id': 152, 'name': 'Richelle Siemers', 'Result': 'Fail'}
{'_id': 153, 'name': 'Mariette Batdorf', 'Result': 'Fail'}
{'_id': 154, 'name': 'Rachell Aman', 'Result': 'Fail'}
{'_id': 155, 'name': 'Aleida Elsass', 'Result': 'Fail'}
{'_id': 156, 'name': 'Kayce Kenyon', 'Result': 'Fail'}
{'_id': 157, 'name': 'Ernestine Macfarland', 'Result': 'Fail'}
{'_id': 158, 'name': 'Houston Valenti', 'Result': 'Fail'}
{'_id': 159, 'name': 'Terica Brugger', 'Result': 'Pass'}
{'_id': 160, 'name': 'Lady Lefevers', 'Result': 'Fail'}
{'_id': 161, 'name': 'Kurtis Jiles', 'Result': 'Fail'}
{'_id': 162, 'name': 'Barbera Lippman', 'Result': 'Fail'}
{'_id': 163, 'name': 'Dinah Sauve', 'Result': 'Fail'}
{'_id': 164, 'name': 'Alica Pasley', 'Result': 'Fail'}
{'_id': 165, 'name': 'Elizabet Kleine', 'Result': 'Fail'}
{'_id': 166, 'name': 'Tawana Oberg', 'Result': 'Pass'}
{'_id': 167, 'name': 'Malisa Jeanes', 'Result': 'Pass'}
{'_id': 168, 'name': 'Joel Rueter', 'Result': 'Fail'}
{'_id': 169, 'name': 'Tresa Sinha', 'Result': 'Pass'}
{'_id': 170, 'name': 'Danika Loeffler', 'Result': 'Fail'}
{'_id': 171, 'name': 'Chad Rahe', 'Result': 'Fail'}
{'_id': 172, 'name': 'Joaquina Arbuckle', 'Result': 'Fail'}
{'_id': 173, 'name': 'Vinnie Auerbach', 'Result': 'Fail'}
{'_id': 174, 'name': 'Dusti Lemmond', 'Result': 'Pass'}
{'_id': 175, 'name': 'Grady Zemke', 'Result': 'Fail'}
{'_id': 176, 'name': 'Vina Matsunaga', 'Result': 'Fail'}
{'_id': 177, 'name': 'Rubie Winton', 'Result': 'Fail'}
{'_id': 178, 'name': 'Whitley Fears', 'Result': 'Fail'}
{'_id': 179, 'name': 'Gena Riccio', 'Result': 'Fail'}
{'_id': 180, 'name': 'Kim Xu', 'Result': 'Fail'}
{'_id': 181, 'name': 'Merissa Mann', 'Result': 'Fail'}
{'_id': 182, 'name': 'Jenise Mcguffie', 'Result': 'Pass'}
{'_id': 183, 'name': 'Cody Strouth', 'Result': 'Fail'}
{'_id': 184, 'name': 'Harriett Velarde', 'Result': 'Pass'}
{'_id': 185, 'name': 'Kam Senters', 'Result': 'Pass'}
{'_id': 186, 'name': 'Leonida Lafond', 'Result': 'Fail'}
{'_id': 187, 'name': 'Devorah Smartt', 'Result': 'Fail'}
{'_id': 188, 'name': 'Leola Lundin', 'Result': 'Pass'}
{'_id': 189, 'name': 'Tonia Surace', 'Result': 'Fail'}
{'_id': 190, 'name': 'Adrien Renda', 'Result': 'Pass'}
{'_id': 191, 'name': 'Efrain Claw', 'Result': 'Pass'}
{'_id': 192, 'name': 'Len Treiber', 'Result': 'Fail'}
{'_id': 193, 'name': 'Mariela Sherer', 'Result': 'Pass'}
{'_id': 194, 'name': 'Echo Pippins', 'Result': 'Fail'}
{'_id': 195, 'name': 'Linnie Weigel', 'Result': 'Fail'}
{'_id': 196, 'name': 'Santiago Dollins', 'Result': 'Fail'}
{'_id': 197, 'name': 'Tonisha Games', 'Result': 'Fail'}
{'_id': 198, 'name': 'Timothy Harrod', 'Result': 'Fail'}
{'_id': 199, 'name': 'Rae Kohout', 'Result': 'Fail'}

In [19]:
# 4) Find the total and average of the exam, quiz and homework and store them in a separate collection.
#my understanding is that we need to find total and average for each student

# note: The output is stored in a new collection Total_and_Average_of_Students

Total_and_Average_of_Students = Mongo_Tasks_new['Total_Average_of_Students']

for i in Students.find():
    d={}
    e=i["scores"][0]["score"]
    q=i["scores"][1]["score"]
    h=i["scores"][2]["score"]
    total=e+q+h
    average=total/3
    d["_id"]=i["_id"]
    d["Name"]=i["name"]
    d["Total"]=total
    d["Average"]=average
    Total_and_Average_of_Students.insert_one(d)

for i in Total_and_Average_of_Students.find():
  print(i)

{'_id': 0, 'Name': 'aimee Zank', 'Total': 49.11994783171814, 'Average': 16.373315943906046}
{'_id': 1, 'Name': 'Aurelia Menendez', 'Total': 184.61969202100374, 'Average': 61.53989734033458}
{'_id': 2, 'Name': 'Corliss Zuk', 'Total': 139.61606947126907, 'Average': 46.53868982375636}
{'_id': 3, 'Name': 'Bao Ziglar', 'Total': 138.70712252233457, 'Average': 46.23570750744486}
{'_id': 4, 'Name': 'Zachary Langlais', 'Total': 203.3963625302728, 'Average': 67.79878751009093}
{'_id': 5, 'Name': 'Wilburn Spiess', 'Total': 134.0186975547794, 'Average': 44.67289918492647}
{'_id': 6, 'Name': 'Jenette Flanders', 'Total': 147.2203575476617, 'Average': 49.07345251588723}
{'_id': 7, 'Name': 'Salena Olmos', 'Total': 229.3959334774732, 'Average': 76.46531115915774}
{'_id': 8, 'Name': 'Daphne Zheng', 'Total': 112.71677331754347, 'Average': 37.57225777251449}
{'_id': 9, 'Name': 'Sanda Ryba', 'Total': 220.08328118626565, 'Average': 73.36109372875522}
{'_id': 10, 'Name': 'Denisha Cast', 'Total': 199.8843572885121, 'Average': 66.62811909617069}
{'_id': 11, 'Name': 'Marcus Blohm', 'Total': 248.5091538691126, 'Average': 82.83638462303753}
{'_id': 12, 'Name': 'Quincy Danaher', 'Total': 220.31843799333484, 'Average': 73.43947933111161}
{'_id': 13, 'Name': 'Jessika Dagenais', 'Total': 275.94947751518237, 'Average': 91.98315917172745}
{'_id': 14, 'Name': 'Alix Sherrill', 'Total': 118.48870352377075, 'Average': 39.49623450792358}
{'_id': 15, 'Name': 'Tambra Mercure', 'Total': 117.50008641174173, 'Average': 39.16669547058058}
{'_id': 16, 'Name': 'Dodie Staller', 'Total': 120.13675287379564, 'Average': 40.045584291265214}
{'_id': 17, 'Name': 'Fletcher Mcconnell', 'Total': 218.24398017942121, 'Average': 72.7479933931404}
{'_id': 18, 'Name': 'Verdell Sowinski', 'Total': 228.46404278930964, 'Average': 76.15468092976988}
{'_id': 19, 'Name': 'Gisela Levin', 'Total': 138.53337737572195, 'Average': 46.17779245857398}
{'_id': 20, 'Name': 'Tressa Schwing', 'Total': 195.4072727218341, 'Average': 65.1357575739447}
{'_id': 21, 'Name': 'Rosana Vales', 'Total': 180.75828734596254, 'Average': 60.25276244865418}
{'_id': 22, 'Name': 'Margart Vitello', 'Total': 182.00563535570944, 'Average': 60.66854511856982}
{'_id': 23, 'Name': 'Tamika Schildgen', 'Total': 193.52293165444934, 'Average': 64.50764388481645}
{'_id': 24, 'Name': 'Jesusa Rickenbacker', 'Total': 149.10807613148083, 'Average': 49.70269204382694}
{'_id': 25, 'Name': 'Rudolph Domingo', 'Total': 148.54969223180623, 'Average': 49.51656407726875}
{'_id': 26, 'Name': 'Jonie Raby', 'Total': 139.96370462720506, 'Average': 46.65456820906835}
{'_id': 27, 'Name': 'Edgar Sarkis', 'Total': 82.65605000904621, 'Average': 27.55201666968207}
{'_id': 28, 'Name': 'Laureen Salomone', 'Total': 93.67011710439672, 'Average': 31.223372368132242}
{'_id': 29, 'Name': 'Gwyneth Garling', 'Total': 152.01111322298112, 'Average': 50.67037107432704}
{'_id': 30, 'Name': 'Kaila Deibler', 'Total': 139.48229678140956, 'Average': 46.49409892713652}
{'_id': 31, 'Name': 'Tandra Meadows', 'Total': 150.89635115040903, 'Average': 50.29878371680301}
{'_id': 32, 'Name': 'Gwen Honig', 'Total': 263.26630272241187, 'Average': 87.75543424080395}
{'_id': 33, 'Name': 'Sadie Jernigan', 'Total': 158.6873725512847, 'Average': 52.895790850428234}
{'_id': 34, 'Name': 'Carli Belvins', 'Total': 163.84548928047394, 'Average': 54.61516309349131}
{'_id': 35, 'Name': 'Synthia Labelle', 'Total': 137.7409456810277, 'Average': 45.91364856034257}
{'_id': 36, 'Name': 'Eugene Magdaleno', 'Total': 219.00355238869096, 'Average': 73.00118412956365}
{'_id': 37, 'Name': 'Meagan Oakes', 'Total': 193.9294745099881, 'Average': 64.64315816999603}
{'_id': 38, 'Name': 'Richelle Siemers', 'Total': 182.2378812069286, 'Average': 60.74596040230953}
{'_id': 39, 'Name': 'Mariette Batdorf', 'Total': 156.18768410864072, 'Average': 52.062561369546906}
{'_id': 40, 'Name': 'Rachell Aman', 'Total': 180.20639736938892, 'Average': 60.068799123129644}
{'_id': 41, 'Name': 'Aleida Elsass', 'Total': 191.3374155242169, 'Average': 63.7791385080723}
{'_id': 42, 'Name': 'Kayce Kenyon', 'Total': 169.44237645698738, 'Average': 56.48079215232912}
{'_id': 43, 'Name': 'Ernestine Macfarland', 'Total': 124.72878418014199, 'Average': 41.57626139338066}
{'_id': 44, 'Name': 'Houston Valenti', 'Total': 114.15826509656077, 'Average': 38.05275503218692}
{'_id': 45, 'Name': 'Terica Brugger', 'Total': 102.75054456167354, 'Average': 34.250181520557845}
{'_id': 46, 'Name': 'Lady Lefevers', 'Total': 131.29270853967182, 'Average': 43.76423617989061}
{'_id': 47, 'Name': 'Kurtis Jiles', 'Total': 147.7356498111623, 'Average': 49.24521660372076}
{'_id': 48, 'Name': 'Barbera Lippman', 'Total': 206.96494520146337, 'Average': 68.98831506715446}
{'_id': 49, 'Name': 'Dinah Sauve', 'Total': 183.2179783546083, 'Average': 61.072659451536104}
{'_id': 50, 'Name': 'Alica Pasley', 'Total': 168.7205264204154, 'Average': 56.2401754734718}
{'_id': 51, 'Name': 'Elizabet Kleine', 'Total': 200.94891534204805, 'Average': 66.98297178068269}
{'_id': 52, 'Name': 'Tawana Oberg', 'Total': 266.9957822154724, 'Average': 88.99859407182413}
{'_id': 53, 'Name': 'Malisa Jeanes', 'Total': 121.1518349933377, 'Average': 40.38394499777923}
{'_id': 54, 'Name': 'Joel Rueter', 'Total': 242.0364415445718, 'Average': 80.6788138481906}
{'_id': 55, 'Name': 'Tresa Sinha', 'Total': 244.50239963952316, 'Average': 81.50079987984105}
{'_id': 56, 'Name': 'Danika Loeffler', 'Total': 119.00689284424402, 'Average': 39.668964281414674}
{'_id': 57, 'Name': 'Chad Rahe', 'Total': 163.19418005225754, 'Average': 54.398060017419176}
{'_id': 58, 'Name': 'Joaquina Arbuckle', 'Total': 120.66923159080469, 'Average': 40.223077196934895}
{'_id': 59, 'Name': 'Vinnie Auerbach', 'Total': 131.55784600976585, 'Average': 43.85261533658862}
{'_id': 60, 'Name': 'Dusti Lemmond', 'Total': 182.36423465019507, 'Average': 60.78807821673169}
{'_id': 61, 'Name': 'Grady Zemke', 'Total': 197.34049948667015, 'Average': 65.78016649555671}
{'_id': 62, 'Name': 'Vina Matsunaga', 'Total': 132.2872844609489, 'Average': 44.09576148698297}
{'_id': 63, 'Name': 'Rubie Winton', 'Total': 72.74345907466646, 'Average': 24.247819691555488}
{'_id': 64, 'Name': 'Whitley Fears', 'Total': 268.6463713649928, 'Average': 89.54879045499759}
{'_id': 65, 'Name': 'Gena Riccio', 'Total': 177.76002098364026, 'Average': 59.25334032788009}
{'_id': 66, 'Name': 'Kim Xu', 'Total': 94.82481083119796, 'Average': 31.608270277065987}
{'_id': 67, 'Name': 'Merissa Mann', 'Total': 222.43538108594768, 'Average': 74.14512702864923}
{'_id': 68, 'Name': 'Jenise Mcguffie', 'Total': 182.34150787254515, 'Average': 60.780502624181715}
{'_id': 69, 'Name': 'Cody Strouth', 'Total': 202.4848718127078, 'Average': 67.4949572709026}
{'_id': 70, 'Name': 'Harriett Velarde', 'Total': 176.07490979439646, 'Average': 58.691636598132156}
{'_id': 71, 'Name': 'Kam Senters', 'Total': 178.913172052241, 'Average': 59.63772401741367}
{'_id': 72, 'Name': 'Leonida Lafond', 'Total': 206.92216095602325, 'Average': 68.97405365200775}
{'_id': 73, 'Name': 'Devorah Smartt', 'Total': 132.19316603930335, 'Average': 44.06438867976778}
{'_id': 74, 'Name': 'Leola Lundin', 'Total': 216.63267038170724, 'Average': 72.21089012723574}
{'_id': 75, 'Name': 'Tonia Surace', 'Total': 201.82584001807396, 'Average': 67.27528000602466}
{'_id': 76, 'Name': 'Adrien Renda', 'Total': 147.47020593990004, 'Average': 49.15673531330001}
{'_id': 77, 'Name': 'Efrain Claw', 'Total': 175.4476010143183, 'Average': 58.482533671439434}
{'_id': 78, 'Name': 'Len Treiber', 'Total': 116.94520656066045, 'Average': 38.98173552022015}
{'_id': 79, 'Name': 'Mariela Sherer', 'Total': 204.9282017860081, 'Average': 68.30940059533603}
{'_id': 80, 'Name': 'Echo Pippins', 'Total': 205.47216171064758, 'Average': 68.49072057021586}
{'_id': 81, 'Name': 'Linnie Weigel', 'Total': 171.94196655853844, 'Average': 57.313988852846144}
{'_id': 82, 'Name': 'Santiago Dollins', 'Total': 181.00006173963334, 'Average': 60.33335391321111}
{'_id': 83, 'Name': 'Tonisha Games', 'Total': 131.11934974450202, 'Average': 43.706449914834}
{'_id': 84, 'Name': 'Timothy Harrod', 'Total': 216.29819060759476, 'Average': 72.09939686919826}
{'_id': 85, 'Name': 'Rae Kohout', 'Total': 178.820098003648, 'Average': 59.60669933454934}
{'_id': 86, 'Name': 'Brain Lachapelle', 'Total': 135.07862363042534, 'Average': 45.02620787680845}
{'_id': 87, 'Name': 'Toshiko Sabella', 'Total': 90.29289206681383, 'Average': 30.097630688937944}
{'_id': 88, 'Name': 'Keesha Papadopoulos', 'Total': 183.8870127743818, 'Average': 61.29567092479393}
{'_id': 89, 'Name': 'Cassi Heal', 'Total': 106.93494167763413, 'Average': 35.644980559211376}
{'_id': 90, 'Name': 'Osvaldo Hirt', 'Total': 185.53797432894692, 'Average': 61.8459914429823}
{'_id': 91, 'Name': 'Ty Barbieri', 'Total': 206.94394766986875, 'Average': 68.98131588995625}
{'_id': 92, 'Name': 'Ta Sikorski', 'Total': 115.74213180964733, 'Average': 38.58071060321578}
{'_id': 93, 'Name': 'Lucinda Vanderburg', 'Total': 114.55089488600422, 'Average': 38.183631628668074}
{'_id': 94, 'Name': 'Darby Wass', 'Total': 155.7771022790884, 'Average': 51.925700759696134}
{'_id': 95, 'Name': 'Omar Bowdoin', 'Total': 122.70623232239147, 'Average': 40.90207744079716}
{'_id': 96, 'Name': 'Milan Mcgavock', 'Total': 104.19377141035017, 'Average': 34.73125713678339}
{'_id': 97, 'Name': 'Maren Scheider', 'Total': 231.17881123988667, 'Average': 77.0596037466289}
{'_id': 98, 'Name': 'Carli Ector', 'Total': 244.82763178118853, 'Average': 81.60921059372951}
{'_id': 99, 'Name': 'Jaclyn Morado', 'Total': 174.5461576760983, 'Average': 58.18205255869943}
{'_id': 100, 'Name': 'Demarcus Audette', 'Total': 131.27751820054362, 'Average': 43.75917273351454}
{'_id': 101, 'Name': 'Tania Hulett', 'Total': 155.30833228670144, 'Average': 51.769444095567145}
{'_id': 102, 'Name': 'Mercedez Garduno', 'Total': 175.59251820500876, 'Average': 58.53083940166959}
{'_id': 103, 'Name': 'Fleta Duplantis', 'Total': 178.1433701618344, 'Average': 59.38112338727814}
{'_id': 104, 'Name': 'Brittny Warwick', 'Total': 247.51315928921287, 'Average': 82.50438642973762}
{'_id': 105, 'Name': 'Shin Allbright', 'Total': 236.5473215674034, 'Average': 78.84910718913447}
{'_id': 106, 'Name': 'Karry Petrarca', 'Total': 58.45858761680128, 'Average': 19.486195872267093}
{'_id': 107, 'Name': 'Beckie Millington', 'Total': 129.29870077731468, 'Average': 43.09956692577156}
{'_id': 108, 'Name': 'Mikaela Meidinger', 'Total': 211.94374606058196, 'Average': 70.64791535352732}
{'_id': 109, 'Name': 'Flora Duell', 'Total': 156.75611063955935, 'Average': 52.252036879853115}
{'_id': 110, 'Name': 'Nobuko Linzey', 'Total': 173.43955303906787, 'Average': 57.81318434635596}
{'_id': 111, 'Name': 'Gennie Ratner', 'Total': 208.03498281392888, 'Average': 69.34499427130963}
{'_id': 112, 'Name': 'Myrtle Wolfinger', 'Total': 203.79119045268433, 'Average': 67.93039681756144}
{'_id': 113, 'Name': '', 'Total': 158.1297878869123, 'Average': 52.70992929563744}
{'_id': 114, 'Name': 'aimee Zank', 'Total': 130.9721943324432, 'Average': 43.6573981108144}
{'_id': 115, 'Name': 'Aurelia Menendez', 'Total': 105.10579094395169, 'Average': 35.035263647983896}
{'_id': 116, 'Name': 'Corliss Zuk', 'Total': 221.3468479915618, 'Average': 73.78228266385393}
{'_id': 117, 'Name': 'Bao Ziglar', 'Total': 154.0475585018162, 'Average': 51.34918616727207}
{'_id': 118, 'Name': 'Zachary Langlais', 'Total': 205.6587944217254, 'Average': 68.55293147390846}
{'_id': 119, 'Name': 'Wilburn Spiess', 'Total': 210.2915152985196, 'Average': 70.0971717661732}
{'_id': 120, 'Name': 'Jenette Flanders', 'Total': 107.87159055374062, 'Average': 35.95719685124687}
{'_id': 121, 'Name': 'Salena Olmos', 'Total': 110.68556639219787, 'Average': 36.89518879739929}
{'_id': 122, 'Name': 'Daphne Zheng', 'Total': 171.68464931123447, 'Average': 57.22821643707815}
{'_id': 123, 'Name': 'Sanda Ryba', 'Total': 71.27146027282822, 'Average': 23.757153424276073}
{'_id': 124, 'Name': 'Denisha Cast', 'Total': 118.2341215780863, 'Average': 39.4113738593621}
{'_id': 125, 'Name': 'Marcus Blohm', 'Total': 137.0342890305606, 'Average': 45.678096343520195}
{'_id': 126, 'Name': 'Quincy Danaher', 'Total': 202.62862134543295, 'Average': 67.54287378181098}
{'_id': 127, 'Name': 'Jessika Dagenais', 'Total': 263.3989659226766, 'Average': 87.79965530755887}
{'_id': 128, 'Name': 'Alix Sherrill', 'Total': 82.279654851893, 'Average': 27.426551617297665}
{'_id': 129, 'Name': 'Tambra Mercure', 'Total': 195.46779056021484, 'Average': 65.15593018673827}
{'_id': 130, 'Name': 'Dodie Staller', 'Total': 199.56471905226374, 'Average': 66.52157301742125}
{'_id': 131, 'Name': 'Fletcher Mcconnell', 'Total': 149.26675330972444, 'Average': 49.755584436574814}
{'_id': 132, 'Name': 'Verdell Sowinski', 'Total': 145.68727217339975, 'Average': 48.562424057799916}
{'_id': 133, 'Name': 'Gisela Levin', 'Total': 123.94644554660489, 'Average': 41.315481848868295}
{'_id': 134, 'Name': 'Tressa Schwing', 'Total': 166.0992291248508, 'Average': 55.366409708283605}
{'_id': 135, 'Name': 'Rosana Vales', 'Total': 112.23313600351938, 'Average': 37.41104533450646}
{'_id': 136, 'Name': 'Margart Vitello', 'Total': 166.81836101629523, 'Average': 55.60612033876507}
{'_id': 137, 'Name': 'Tamika Schildgen', 'Total': 159.53213257952987, 'Average': 53.17737752650996}
{'_id': 138, 'Name': 'Jesusa Rickenbacker', 'Total': 115.54875333859893, 'Average': 38.51625111286631}
{'_id': 139, 'Name': 'Rudolph Domingo', 'Total': 160.0864123492324, 'Average': 53.36213744974413}
{'_id': 140, 'Name': 'Jonie Raby', 'Total': 102.86145390316119, 'Average': 34.28715130105373}
{'_id': 141, 'Name': 'Edgar Sarkis', 'Total': 199.81866315163785, 'Average': 66.60622105054595}
{'_id': 142, 'Name': 'Laureen Salomone', 'Total': 153.09832674227243, 'Average': 51.03277558075748}
{'_id': 143, 'Name': 'Gwyneth Garling', 'Total': 152.28848205662155, 'Average': 50.76282735220718}
{'_id': 144, 'Name': 'Kaila Deibler', 'Total': 183.09592918689077, 'Average': 61.03197639563026}
{'_id': 145, 'Name': 'Tandra Meadows', 'Total': 87.5629850401662, 'Average': 29.1876616800554}
{'_id': 146, 'Name': 'Gwen Honig', 'Total': 201.4156031244819, 'Average': 67.1385343748273}
{'_id': 147, 'Name': 'Sadie Jernigan', 'Total': 141.02791381651215, 'Average': 47.00930460550405}
{'_id': 148, 'Name': 'Carli Belvins', 'Total': 174.61862132435388, 'Average': 58.20620710811796}
{'_id': 149, 'Name': 'Synthia Labelle', 'Total': 141.50995457365985, 'Average': 47.16998485788662}
{'_id': 150, 'Name': 'Eugene Magdaleno', 'Total': 126.52248166745107, 'Average': 42.174160555817025}
{'_id': 151, 'Name': 'Meagan Oakes', 'Total': 186.33086651795293, 'Average': 62.11028883931764}
{'_id': 152, 'Name': 'Richelle Siemers', 'Total': 139.60355242003698, 'Average': 46.53451747334566}
{'_id': 153, 'Name': 'Mariette Batdorf', 'Total': 182.97224595186646, 'Average': 60.99074865062215}
{'_id': 154, 'Name': 'Rachell Aman', 'Total': 164.66123279589482, 'Average': 54.887077598631606}
{'_id': 155, 'Name': 'Aleida Elsass', 'Total': 167.56608209438596, 'Average': 55.855360698128656}
{'_id': 156, 'Name': 'Kayce Kenyon', 'Total': 144.78774966244362, 'Average': 48.26258322081454}
{'_id': 157, 'Name': 'Ernestine Macfarland', 'Total': 160.1015626796132, 'Average': 53.36718755987107}
{'_id': 158, 'Name': 'Houston Valenti', 'Total': 165.92615898115974, 'Average': 55.30871966038658}
{'_id': 159, 'Name': 'Terica Brugger', 'Total': 251.40459832855427, 'Average': 83.80153277618476}
{'_id': 160, 'Name': 'Lady Lefevers', 'Total': 188.71235039768163, 'Average': 62.90411679922721}
{'_id': 161, 'Name': 'Kurtis Jiles', 'Total': 169.36123484704996, 'Average': 56.45374494901665}
{'_id': 162, 'Name': 'Barbera Lippman', 'Total': 123.87383657752201, 'Average': 41.29127885917401}
{'_id': 163, 'Name': 'Dinah Sauve', 'Total': 75.2279417690119, 'Average': 25.075980589670635}
{'_id': 164, 'Name': 'Alica Pasley', 'Total': 165.63284138505927, 'Average': 55.21094712835309}
{'_id': 165, 'Name': 'Elizabet Kleine', 'Total': 128.08011084675638, 'Average': 42.693370282252125}
{'_id': 166, 'Name': 'Tawana Oberg', 'Total': 243.58164706138706, 'Average': 81.19388235379569}
{'_id': 167, 'Name': 'Malisa Jeanes', 'Total': 187.97482237036616, 'Average': 62.658274123455385}
{'_id': 168, 'Name': 'Joel Rueter', 'Total': 66.68048171963756, 'Average': 22.226827239879185}
{'_id': 169, 'Name': 'Tresa Sinha', 'Total': 204.71743269051856, 'Average': 68.23914423017285}
{'_id': 170, 'Name': 'Danika Loeffler', 'Total': 177.90923607877596, 'Average': 59.30307869292532}
{'_id': 171, 'Name': 'Chad Rahe', 'Total': 181.46853696091893, 'Average': 60.48951232030631}
{'_id': 172, 'Name': 'Joaquina Arbuckle', 'Total': 224.32072038808982, 'Average': 74.7735734626966}
{'_id': 173, 'Name': 'Vinnie Auerbach', 'Total': 154.92533590812064, 'Average': 51.641778636040215}
{'_id': 174, 'Name': 'Dusti Lemmond', 'Total': 193.43589837735124, 'Average': 64.47863279245041}
{'_id': 175, 'Name': 'Grady Zemke', 'Total': 106.35844585670458, 'Average': 35.45281528556819}
{'_id': 176, 'Name': 'Vina Matsunaga', 'Total': 133.82960397641585, 'Average': 44.60986799213862}
{'_id': 177, 'Name': 'Rubie Winton', 'Total': 216.40738876682235, 'Average': 72.13579625560745}
{'_id': 178, 'Name': 'Whitley Fears', 'Total': 177.765433771189, 'Average': 59.255144590396334}
{'_id': 179, 'Name': 'Gena Riccio', 'Total': 201.16314710069156, 'Average': 67.05438236689719}
{'_id': 180, 'Name': 'Kim Xu', 'Total': 160.22762084530626, 'Average': 53.40920694843542}
{'_id': 181, 'Name': 'Merissa Mann', 'Total': 100.71792724568269, 'Average': 33.57264241522756}
{'_id': 182, 'Name': 'Jenise Mcguffie', 'Total': 247.055709123218, 'Average': 82.35190304107267}
{'_id': 183, 'Name': 'Cody Strouth', 'Total': 201.24422489578706, 'Average': 67.08140829859569}
{'_id': 184, 'Name': 'Harriett Velarde', 'Total': 220.21398004688467, 'Average': 73.40466001562822}
{'_id': 185, 'Name': 'Kam Senters', 'Total': 164.057897124202, 'Average': 54.68596570806733}
{'_id': 186, 'Name': 'Leonida Lafond', 'Total': 98.45768055586619, 'Average': 32.8192268519554}
{'_id': 187, 'Name': 'Devorah Smartt', 'Total': 100.39268848940415, 'Average': 33.46422949646805}
{'_id': 188, 'Name': 'Leola Lundin', 'Total': 176.30791809119162, 'Average': 58.76930603039721}
{'_id': 189, 'Name': 'Tonia Surace', 'Total': 181.79622614209114, 'Average': 60.598742047363714}
{'_id': 190, 'Name': 'Adrien Renda', 'Total': 227.1544319588548, 'Average': 75.71814398628493}
{'_id': 191, 'Name': 'Efrain Claw', 'Total': 252.83317597388418, 'Average': 84.27772532462807}
{'_id': 192, 'Name': 'Len Treiber', 'Total': 182.73801465117188, 'Average': 60.91267155039063}
{'_id': 193, 'Name': 'Mariela Sherer', 'Total': 159.69068323680995, 'Average': 53.230227745603315}
{'_id': 194, 'Name': 'Echo Pippins', 'Total': 133.2728581307499, 'Average': 44.4242860435833}
{'_id': 195, 'Name': 'Linnie Weigel', 'Total': 154.97337291894834, 'Average': 51.65779097298278}
{'_id': 196, 'Name': 'Santiago Dollins', 'Total': 164.46610025223168, 'Average': 54.82203341741056}
{'_id': 197, 'Name': 'Tonisha Games', 'Total': 148.83413523189756, 'Average': 49.61137841063252}
{'_id': 198, 'Name': 'Timothy Harrod', 'Total': 97.28287057232586, 'Average': 32.42762352410862}
{'_id': 199, 'Name': 'Rae Kohout', 'Total': 160.5986170288919, 'Average': 53.53287234296397}

In [20]:
# 6) Create a new collection which consists of students who scored below the fail mark in all the categories.

# Note: the result is stored in new collection named 'Failed_in_all' and the new table entries are showed on screen for easy visibilty for user understanding

Failed_in_all = Mongo_Tasks_new['Failed_in_all']

for i in Students.find({'$and':[{'scores.0.score':{'$lt':40}},{'scores.1.score':{'$lt':40}},{'scores.2.score':{'$lt':40}}]},{'_id':1,'name':1}):
  Failed_in_all.insert_one(i)
  
for i in Failed_in_all.find():
  print(i)

{'_id': 0, 'name': 'aimee Zank'}

In [21]:
# 7) Create a new collection which consists of students who scored above pass mark in all the categories.

# Note: the result is stored in new collection named 'Passed_in_all' and the new table entries are showed on screen for easy visibilty for user understanding

Passed_in_all = Mongo_Tasks_new['Passed_in_all']

for i in Students.find({'$and':[{'scores.0.score':{'$gte':40}},{'scores.1.score':{'$gte':40}},{'scores.2.score':{'$gte':40}}]},{'_id':1,'name':1}):
  Passed_in_all.insert_one(i)
  
for i in Passed_in_all.find():
  print(i)

{'_id': 1, 'name': 'Aurelia Menendez'}
{'_id': 7, 'name': 'Salena Olmos'}
{'_id': 10, 'name': 'Denisha Cast'}
{'_id': 11, 'name': 'Marcus Blohm'}
{'_id': 12, 'name': 'Quincy Danaher'}
{'_id': 13, 'name': 'Jessika Dagenais'}
{'_id': 18, 'name': 'Verdell Sowinski'}
{'_id': 20, 'name': 'Tressa Schwing'}
{'_id': 23, 'name': 'Tamika Schildgen'}
{'_id': 32, 'name': 'Gwen Honig'}
{'_id': 36, 'name': 'Eugene Magdaleno'}
{'_id': 52, 'name': 'Tawana Oberg'}
{'_id': 54, 'name': 'Joel Rueter'}
{'_id': 55, 'name': 'Tresa Sinha'}
{'_id': 61, 'name': 'Grady Zemke'}
{'_id': 64, 'name': 'Whitley Fears'}
{'_id': 65, 'name': 'Gena Riccio'}
{'_id': 67, 'name': 'Merissa Mann'}
{'_id': 68, 'name': 'Jenise Mcguffie'}
{'_id': 75, 'name': 'Tonia Surace'}
{'_id': 79, 'name': 'Mariela Sherer'}
{'_id': 84, 'name': 'Timothy Harrod'}
{'_id': 85, 'name': 'Rae Kohout'}
{'_id': 90, 'name': 'Osvaldo Hirt'}
{'_id': 97, 'name': 'Maren Scheider'}
{'_id': 98, 'name': 'Carli Ector'}
{'_id': 99, 'name': 'Jaclyn Morado'}
{'_id': 102, 'name': 'Mercedez Garduno'}
{'_id': 104, 'name': 'Brittny Warwick'}
{'_id': 105, 'name': 'Shin Allbright'}
{'_id': 108, 'name': 'Mikaela Meidinger'}
{'_id': 109, 'name': 'Flora Duell'}
{'_id': 110, 'name': 'Nobuko Linzey'}
{'_id': 111, 'name': 'Gennie Ratner'}
{'_id': 116, 'name': 'Corliss Zuk'}
{'_id': 118, 'name': 'Zachary Langlais'}
{'_id': 119, 'name': 'Wilburn Spiess'}
{'_id': 126, 'name': 'Quincy Danaher'}
{'_id': 127, 'name': 'Jessika Dagenais'}
{'_id': 129, 'name': 'Tambra Mercure'}
{'_id': 130, 'name': 'Dodie Staller'}
{'_id': 141, 'name': 'Edgar Sarkis'}
{'_id': 159, 'name': 'Terica Brugger'}
{'_id': 166, 'name': 'Tawana Oberg'}
{'_id': 167, 'name': 'Malisa Jeanes'}
{'_id': 169, 'name': 'Tresa Sinha'}
{'_id': 174, 'name': 'Dusti Lemmond'}
{'_id': 182, 'name': 'Jenise Mcguffie'}
{'_id': 184, 'name': 'Harriett Velarde'}
{'_id': 185, 'name': 'Kam Senters'}
{'_id': 188, 'name': 'Leola Lundin'}
{'_id': 190, 'name': 'Adrien Renda'}
{'_id': 191, 'name': 'Efrain Claw'}
{'_id': 193, 'name': 'Mariela Sherer'}

In [22]:
# 2)  Find students who scored below average in the exam and pass mark is 40%? 
# the question is not clear and my understanding is that requirement is to get the names of students who scored between 40 and Average of the all scores in type Exam
# I tried doing the same in single program but I could nto crack it. Hence i have split the code in to two, where i get the average in 1st step and remaining operation in next step.
import pprint
stage1={"$unwind":"$scores"}
stage2={'$match':{'scores.type':'exam'}}
stage3={"$group":{"_id":"$scores.type","avg_score":{"$avg":"$scores.score"}}} 


for i in Students.aggregate([stage1,stage2,stage3]): 
  pprint.pprint(i)

for i in Students.find({'scores.0.score':{'$gt':40,'$lte':{"$avg":"$scores.score"}}},{'_id':0,'name':1}):
  pprint.pprint(i)

{'_id': 'exam', 'avg_score': 48.67367075950175}

In [23]:
import pprint

for i in Students.find({'scores.0.score':{'$gt':40,'$lte':48.67367075950175}},{'_id':0,'name':1}):
  pprint.pprint(i)

{'name': 'Wilburn Spiess'}
{'name': 'Denisha Cast'}
{'name': 'Gisela Levin'}
{'name': 'Tressa Schwing'}
{'name': 'Rosana Vales'}
{'name': 'Tamika Schildgen'}
{'name': 'Gwyneth Garling'}
{'name': 'Kayce Kenyon'}
{'name': 'Terica Brugger'}
{'name': 'Chad Rahe'}
{'name': 'Jenise Mcguffie'}
{'name': 'Cassi Heal'}
{'name': 'Demarcus Audette'}
{'name': 'Flora Duell'}
{'name': 'Quincy Danaher'}
{'name': 'Alix Sherrill'}
{'name': 'Laureen Salomone'}
{'name': 'Gwyneth Garling'}
{'name': 'Aleida Elsass'}
{'name': 'Alica Pasley'}
{'name': 'Malisa Jeanes'}
{'name': 'Harriett Velarde'}
{'name': 'Mariela Sherer'}

In [52]:
# 5)      Create a new collection which consists of students who scored below average and above 40% in all the categories.

Stage1={"$unwind":"$scores"}
stage2={"$group":{"_id":"$scores.type","avg_score":{"$avg":"$scores.score"}}}
for i in Students.aggregate([stage1,stage2]): 
  pprint.pprint(i)

{'_id': 'homework', 'avg_score': 67.81869620661149}
{'_id': 'quiz', 'avg_score': 48.99672319430254}
{'_id': 'exam', 'avg_score': 48.67367075950175}

In [53]:
import pprint

for i in Students.find({'scores.0.score':{'$gt':40,'$lt':48.67367075950175}},{'_id':0,'name':1}):
  pprint.pprint(i)

for i in Students.find({'scores.1.score':{'$gt':40,'$lt':48.99672319430254}},{'_id':0,'name':1}):
  pprint.pprint(i)

for i in Students.find({'scores.1.score':{'$gt':40,'$lt':67.81869620661149}},{'_id':0,'name':1}):
  pprint.pprint(i)

{'name': 'Wilburn Spiess'}
{'name': 'Denisha Cast'}
{'name': 'Gisela Levin'}
{'name': 'Tressa Schwing'}
{'name': 'Rosana Vales'}
{'name': 'Tamika Schildgen'}
{'name': 'Gwyneth Garling'}
{'name': 'Kayce Kenyon'}
{'name': 'Terica Brugger'}
{'name': 'Chad Rahe'}
{'name': 'Jenise Mcguffie'}
{'name': 'Cassi Heal'}
{'name': 'Demarcus Audette'}
{'name': 'Flora Duell'}
{'name': 'Quincy Danaher'}
{'name': 'Alix Sherrill'}
{'name': 'Laureen Salomone'}
{'name': 'Gwyneth Garling'}
{'name': 'Aleida Elsass'}
{'name': 'Alica Pasley'}
{'name': 'Malisa Jeanes'}
{'name': 'Harriett Velarde'}
{'name': 'Mariela Sherer'}
{'name': 'Salena Olmos'}
{'name': 'Terica Brugger'}
{'name': 'Danika Loeffler'}
{'name': 'Joaquina Arbuckle'}
{'name': 'Rubie Winton'}
{'name': 'Brain Lachapelle'}
{'name': 'Osvaldo Hirt'}
{'name': 'Demarcus Audette'}
{'name': 'Mercedez Garduno'}
{'name': 'Karry Petrarca'}
{'name': 'Flora Duell'}
{'name': 'Salena Olmos'}
{'name': 'Tambra Mercure'}
{'name': 'Verdell Sowinski'}
{'name': 'Sadie Jernigan'}
{'name': 'Elizabet Kleine'}
{'name': 'Kam Senters'}
{'name': 'Leola Lundin'}
{'name': 'Mariela Sherer'}
{'name': 'Aurelia Menendez'}
{'name': 'Salena Olmos'}
{'name': 'Tamika Schildgen'}
{'name': 'Edgar Sarkis'}
{'name': 'Kaila Deibler'}
{'name': 'Carli Belvins'}
{'name': 'Terica Brugger'}
{'name': 'Lady Lefevers'}
{'name': 'Danika Loeffler'}
{'name': 'Joaquina Arbuckle'}
{'name': 'Grady Zemke'}
{'name': 'Rubie Winton'}
{'name': 'Gena Riccio'}
{'name': 'Merissa Mann'}
{'name': 'Mariela Sherer'}
{'name': 'Linnie Weigel'}
{'name': 'Santiago Dollins'}
{'name': 'Timothy Harrod'}
{'name': 'Rae Kohout'}
{'name': 'Brain Lachapelle'}
{'name': 'Osvaldo Hirt'}
{'name': 'Darby Wass'}
{'name': 'Carli Ector'}
{'name': 'Jaclyn Morado'}
{'name': 'Demarcus Audette'}
{'name': 'Tania Hulett'}
{'name': 'Mercedez Garduno'}
{'name': 'Karry Petrarca'}
{'name': 'Mikaela Meidinger'}
{'name': 'Flora Duell'}
{'name': 'Nobuko Linzey'}
{'name': 'Corliss Zuk'}
{'name': 'Bao Ziglar'}
{'name': 'Zachary Langlais'}
{'name': 'Salena Olmos'}
{'name': 'Tambra Mercure'}
{'name': 'Verdell Sowinski'}
{'name': 'Tamika Schildgen'}
{'name': 'Edgar Sarkis'}
{'name': 'Sadie Jernigan'}
{'name': 'Barbera Lippman'}
{'name': 'Elizabet Kleine'}
{'name': 'Malisa Jeanes'}
{'name': 'Tresa Sinha'}
{'name': 'Dusti Lemmond'}
{'name': 'Whitley Fears'}
{'name': 'Kam Senters'}
{'name': 'Leola Lundin'}
{'name': 'Adrien Renda'}
{'name': 'Mariela Sherer'}
{'name': 'Rae Kohout'}